DATABASE_URL="your_database_url"
DIRECT_URL="your_direct_url"
SUPABASE_URL="your_supabase_url"
SUPABASE_ANON_KEY="your_supabase_anon_key"
SUPABASE_JWKS_URL="your_supabase_jwks_url"
SUPABASE_JWT_ISSUER="your_supabase_jwt_issuer"
SUPABASE_SECRET_KEY="your_supabase_secret_key"
PORT=4000
FRONTEND_URL="your_frontend_url"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your_admin_password"
ADMIN_JWT_SECRET="your_admin_jwt_secret"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
